<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=MpEubC5VuaC6Yg4uKzZ_&submodules=geocoder"></script>
     <style>
      h1 { text-align : center;}
      button {}
      input {}
      input_area.element{
        margin: auto;
        width : 50%;
        text-align : center;
      }
      div.output_area{
        border-style: dashed none dashed none;
      }
      button:hover{
        box-shadow: 0 20px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0,19);
      }
   </style>
 </head>
  <body>
    <div>
      <h1>Perfect Music List for your current place</h1>
      <div id="map" style="margin:auto;width:80%;height:400px;"></div>
      <div>
        <input type="text" size="50" id="myField" value="" />
        <button onClick="hyper()">CURATION</button>
      </div>
      <div id="output_area">
        <p id="proposal_list"/>
      </div>
    </div>
  </body>
    <script>
      var mapOptions = {
        center: new naver.maps.LatLng(37.3595704, 127.105399),
        zoom: 10
      };
      var map = new naver.maps.Map('map', mapOptions);
      //click on the map
      var marker = new naver.maps.Marker({
             position: new naver.maps.LatLng(),
             map: map
      });
      var contentString = [
            '<div>',
            '</div>'
          ].join('');
      var infowindow = new naver.maps.InfoWindow({content: contentString});
      naver.maps.Event.addListener(map, 'click', function(e){
            marker.setPosition(e.coord);
            var link;
            naver.maps.Service.reverseGeocode(
               {location: new naver.maps.LatLng(e.coord.lat(), e.coord.lng()),},
               function(status, response) {
                  if(status !== naver.maps.Service.Status.OK){
                  return alert('Something Wrong!');
               }
               var result = response.result.items;
               link= result[0]['address'];
               contentString = [
                   '<div>',
                   '  <p> '+e.coord+'</p>',
                   '  <p> '+link+'</p>',
                   '</div>'
                   ].join('');
               var infowindow = new naver.maps.InfoWindow({content: contentString});
               if(infowindow.getMap()){
                  infowindow.close();
               }else {
                  infowindow.open(map, marker);
               }

               parts=link.split(" ");
               var i, go="";
               for(i=0;i<parts.length;i++){
                   go += parts[i];
                   if(parts[i].slice(-1)=='동'||parts[i].slice(-1)=='읍'|| parts[i].slice(-1)=='면'){
                       document.getElementById('myField').value = go;
                       break;
                   }
                   else go +=" ";
               }
            });
      });
     function hyper(){
       var URL = "http://wlxyzlw.iptime.org:8088/address/"+document.getElementById('myField').value+"/proposal/";
//       console.log("#"+document.getElementById('myField').value);
       var xmlhttp = new XMLHttpRequest();

       xmlhttp.onreadystatechange = function(){
         if(this.readyState == 4 && this.status == 200){
           console.log("http GET success");
//           console.log(xmlhttp.responseText);
           var obj = JSON.parse(this.responseText);
           for(i=0;i<obj.length;i++)
             document.getElementById('proposal_list').innerHTML += obj[i]+'<br>';//TODO render in your favor
         }
       }
       xmlhttp.open("GET", URL, true); //true for asynchronous
       xmlhttp.send();

//       httpGet("http://wlxyzlw.iptime.org:8088/track");
     //  window.location.href = "http://wlxyzlw.iptime.org:8008/address/"+document.getElementById('myField').value+"/proposal";
     }
    </script>
</html>

                               
